.container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* border: 3px solid var(--primaryBlue); */
    width: calc(100vw - 300px);
    margin-top: 30px;
    height: 95vh;
    align-items: center;
    overflow: scroll;
}

@media (max-width: 964px) {
    .container {
        width: 95vw;
    }
}

.accordion {
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    flex-grow: 1;
}

.accordionTitle {
    display: flex;
    width: 90vw;
    max-width: 900px;
    flex-grow: 1;
    border-radius: 5px 5px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--primaryOrange);
}

.accordionTitle:hover {
    background-color: #3ab4cc;
}

.accordionTitle,
.accordionContent {
    padding: 1rem;
    max-width: 900px;
}

.accordionContent {
    background-color: var(--primaryBlue);
    color: var(--primaryWhite);
    width: 90vw;
}

@media screen and (max-width: 700px) {
    .accordion {
        min-width: 90vw;
    }
}
